# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\02_workproject\nacos-bench\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
